#edit-post{
    margin-top: 10px !important;
    float: right !important;
    width: 40px !important;
    margin-right: 30px;
}
/*#edit-post a{
	text-decoration: none;
	color: black;
	font-size: 13px;
	text-align: center;
}*/