*{
    padding: 0;
    margin: 0;
}
.first-row{
    margin-top: 30px;
    float: left;
    width:100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}
.form-modal-body{
    float: left;
    width: 100%;

}
.form-modal input{
    border-color: #4cae4c;
    border-radius: 0px;
    margin-top: 5px;
    background: #2b3233;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
}
.modal-main{
    background: #2b3233 !important;
}
.create-heading{
    color: #cecccc;
}
.error, .emailerror{
    background: #a94442 !important;
    color: #fff !important;
}
.form-modal label{
    color:#cecccc;
}
.main-post-div{
    margin-top:30px ;
    float: left;
    width: 100%;
}
#files span, #files button{
    display: none !important;
}
#files canvas{
    margin-top: 15px;
}
#files{
    float: left;
    width: 100%;
}
#files div{
    float: left;
    margin-right: 5px;
}
.fileinput-button{
    padding: 0 !important;
    margin-top: 7px !important;
    font-size: 17px !important;
}
.padding-non{
    padding:0px !important;
}
.post-btn{
    margin-top: 5px;
}
.user-profile{
    float: left;
    margin-top: 10px;
}
.post-div{
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}
.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}
.panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 5px;
}
.panel-google-plus > .panel-heading > img {
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }
}


.panel-google-plus .btn {
    border-radius: 3px;
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover,
.panel-google-plus .btn-default:focus,
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}
.post{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.input-placeholder{
    float: left;
    width: 90%;
}
.post-area{
    float: left;
    width: 100%;
    padding-bottom:15px;
}
.comment-user-image{
    width: 45px;
    border-radius: 50px;
}
.comment-area{
    float: left;
    width: 100%;
    margin-top: 10px;
    background-color: #ededed;

}
.user-comment-text p{
    font-weight: normal;
    margin-bottom: 0px;
    margin-left: 57px;
}
.comment-user-name{
    margin-left: 10px;
}
.comment-user{
    border-top:1px solid gainsboro;
    padding:10px;
}
.like-btn{
    border-color:red !important;
    color:red;
}
.action-post{
    margin-top: 10px;
    cursor: pointer;
}
.user-profile{
    display: none;
}
.butn{
    margin: 6px 0px !important;
}
.user-img{
    width:35px;
}
.update-comment{
    position: absolute;
    top: 75px;
    left: 10px;
    border-radius: 5px;
    height: 38px;
    width: 150px;
    background: white;
    border: 1px solid #999;
}
@media only screen and (min-width: 990px) and (max-width: 1200px)  {
    .usersdiv{
        margin-right: 10px;
    }
}
